<div ng-controller="GroupDetailsController" class="table-responsive">
    <h2> Groups of {{currentUser.firstName}} </h2>
    <section ng-show="group">
        <h3> Group Details</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Members</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{group.id}}</td>
                <td>
                    {{group.name}}
                </td>
                <td>{{group.members.toString()}}</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>