<div ng-controller="FormController">
            <h1>Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
                <li role="presentation"><a href="#/fields">Fields</a></li>
            </ul>
            <div class="table-responsive box">
                <table border="1" class="table table-striped">
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        Form Name</th>
                    <th>Action</th>
                    <tr>
                        <td> <input ng-model="name" class="form-control" type=text placeholder="name"></td>
                        <td>
                            <a>
                                <span ng-click="addForm(name)" class="glyphicon glyphicon-plus blackicon btn btn-default"></span>
                            </a>
                            <a>
                                <span ng-click="updateForm(name)" class="glyphicon glyphicon-ok blackicon btn btn-default"></span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-show="data" ng-repeat="form in data">
                        <td><a href="#/fields">{{form.title}}</a></td>
                        <td>
                            <a ng-click="deleteForm($index)">
                                <span class="glyphicon glyphicon-remove blackicon btn btn-default"></span>
                            </a>
                            <a  ng-click="selectForm($index)">
                                <span class="glyphicon glyphicon-pencil blackicon btn btn-default"></span>
                            </a>
                        </td>
                    </tr>
            </table>
            </div>
</div>