
            <h1>Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
                <li role="presentation"><a href="#/fields">Fields</a></li>
            </ul>
            <div class="table-responsive box">
                <table border="1" class="table table-striped">
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        Form Name</th>
                    <th>Action</th>
                    <tr>
                        <td> <input class="form-control" type=text placeholder="name"></td>
                        <td>
                            <a href="#">
                                <span class="glyphicon glyphicon-plus blackicon btn btn-default"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-ok blackicon btn btn-default"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="fields.view.html">Registration Form</a></td>
                        <td>
                            <a href="#">
                                <span class="glyphicon glyphicon-remove blackicon btn btn-default"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil blackicon btn btn-default"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="fields.view.html">Contact List</a></td>
                        <td>
                            <a href="#">
                                <span class="glyphicon glyphicon-remove blackicon btn btn-default"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil blackicon btn btn-default"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="fields.view.html">To Do List</a></td>
                        <td>
                            <a href="#">
                                <span class="glyphicon glyphicon-remove blackicon btn btn-default"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil blackicon btn btn-default"></span>
                            </a>
                        </td>
                    </tr>


            </table>
            </div>

