<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->

<div id="login-page" ng-controller="ProfileController as model">
        <form class="form-login">
            <h2 class="form-login-heading">profile</h2>
            <div class="login-wrap">
                <label class="control-label">First Name:</label>
                <input class="form-control" placeholder="First Name" type="text" ng-model="model.user.firstName" autofocus>
                <br>
                <label class="control-label">Last Name:</label>
                <input class="form-control" placeholder="Last Name" type="text" ng-model="model.user.lastName">
                <br>
                <label class="control-label">Username:</label>
                <input type="text" ng-model="model.user.username" readonly class="form-control" placeholder="Username">
                <br>
                <label class="control-label">Email:</label>
                <input class="form-control" placeholder="E-mail" ng-model="model.user.email" type="email">
                <br>
                <label class="control-label">Password:</label>
                <input type="password" ng-model="model.user.password" readonly class="form-control" placeholder="Password">
                <br>
                <a ng-click="model.updateUser(model.user)" class="btn btn-theme btn-block btn-success" type="submit"><i class="fa fa-upload"></i> Update</a>
            </div>
        </form>
</div>

