.arrangeicons{
    vertical-align: bottom;
    margin:0;
}

.responsive{
    white-space: nowrap;
}

.blackicon{
    color:black;
}

.form-horizontal .control-label{
    text-align: left;
}

.button-background{
    background-color: #d5d5d5;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.box{
    width: auto;
    height: auto;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding:10px;
}