.arrangeicons{
    vertical-align: bottom;
    margin:0;
}

.responsive{
    white-space: nowrap;
    overflow: hidden;
}

.blackicon{
    color:black;
}

.form-horizontal .control-label{
    text-align: left;
}