<div ng-controller="BillController">
    <h1>Bills</h1>
    <div class="table-responsive box">
        <table border="1" class="table table-striped">
            <th>Description</th>
            <th>Bill Type</th>
            <th>Amount (<span class="fa fa-dollar"></span>)</th>
            <th>Date of Transaction</th>
            <th></th>
            <tr>
                <td> <input ng-model="model.bill.description" class="form-control" type=text placeholder="Grocery"></td>
                <td> <input ng-model="model.bill.type" class="form-control" type=text placeholder="Income"></td>
                <td> <input ng-model="model.bill.amount" class="form-control" type=text placeholder="50"></td>
                <td> <input ng-model="model.bill.date" class="form-control" type=text placeholder="2016-03-12"></td>
                <td class="sameline">
                    <a class="btn btn-success " type="submit" ng-click="model.addBill(model.bill)" >
                        Add
                    </a>
                    <a ng-click="model.updateBill(model.bill)" type="submit" class="btn btn-warning">
                        Update
                    </a>
                </td>
            </tr>
            <tr ng-show="model.data" ng-repeat="bill in model.data">
                <td><a href="#/bill">{{bill.description}}</a></td>
                <td><a href="#/bill">{{bill.type}}</a></td>
                <td><a href="#/bill">{{bill.amount}}</a></td>
                <td><a href="#/bill">{{bill.date}}</a></td>
                <td>
                    <a ng-click="model.deleteBill($index)" class="btn btn-danger">
                        Delete
                    </a>
                    <a  ng-click="model.selectBill($index)" ng-model="model.selectedIndex" class="btn btn-primary">
                        Edit
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>