<div ng-controller="SidebarController" class="navbar-default navbar-collapse">
    <ul class="nav" id="side-menu">
        <li>
            <a href="#/user"><i class="fa fa-user fa-fw"></i> Users of Application</a>
        </li>
        <li>
            <a ng-show="currentUser" href="#/bill"><i class="fa fa-bitcoin fa-fw"></i> Bills for {{currentUser.firstName}}</a>
        </li>
        <li>
            <a href="#/group" ng-show="currentUser"><i class="fa fa-group fa-fw"></i> Groups for {{currentUser.firstName}}</a>
        </li>
        <li>
            <a ng-show="currentUser" href="#/searchtransactions"><i class="fa fa-search fa-fw"></i> Transactions</a>
        </li>
    </ul>
</div>