<div ng-controller="SidebarController" class="navbar-default sidebar sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li>
            <a href="#/user"><i class="fa fa-user fa-fw"></i> User CRUD</a>
        </li>
        <li>
            <a href="#/bill"><i class="fa fa-bitcoin fa-fw"></i> Bill CRUD</a>
        </li>
        <li>
            <a href="#/group"><i class="fa fa-group fa-fw"></i> Group CRUD</a>
        </li>
        <li>
            <a href="#/note"><i class="fa fa-tasks fa-fw"></i> Notes CRUD</a>
        </li>
        <li>
            <a ng-show="currentUser" href="#/searchtransactions"><i class="fa fa-align-justify fa-fw"></i> Transactions (Search and Results Page)</a>
        </li>
    </ul>
</div>