<nav class="header black-bg navbar" ng-controller="HeaderController">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="#">SPLIT-UP</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse top-menu" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right top-menu"
                   style="padding-top: 14px";>

                    <li ng-hide="currentUser"><a href="#/login">Login</a></li>
                    <li ng-show="currentUser"><a href="#/profile">Welcome, {{currentUser.username}}!</a></li>
                    <li ng-show="currentUser" ><a ng-click="logout()" href="#/home">Logout</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Modules <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-show="currentUser.roles=='admin'">
                                <a href="#/user"><i class="fa fa-user fa-fw"></i> Users of Application</a>
                            </li>
                            <li>
                                <a ng-show="currentUser" href="#/bill"><i class="fa fa-bitcoin fa-fw"></i> Bills for you</a>
                            </li>
                            <li>
                                <a href="#/group" ng-show="currentUser"><i class="fa fa-group fa-fw"></i> Your Groups</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a  ng-show="currentUser"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API Modules <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-show="currentUser" href="#/searchtransactions"><i class="fa fa-search fa-fw"></i> Transactions (API)</a>
                            </li>
                            <li>
                                <a ng-show="currentUser" href="#/usergroups"><i class="fa fa-search fa-fw"></i> Groups (API)</a>
                            </li>
                            <li>
                                <a ng-show="currentUser" href="#/contacts"><i class="fa fa-search fa-fw"></i> Contacts (API)</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>