<div ng-controller="TransactionController" class="table-responsive">
    <h2> Transaction </h2>
    <section ng-show="model.data">

        <h3> Search Results</h3>
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Description</th>
                <th>Date of Transaction</th>
                <th>Type of Transaction</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in model.data">
                <td><a href="#/details/{{transaction.id}}">{{transaction.description}}</a></td>
                <td>
                    {{transaction.normalizedDate}}
                </td>
                <td>{{transaction.type}}</td>
                <td>{{transaction.amount}}</td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center">
            <a href="#/addtransaction" class="btn btn-primary"> Add a transaction</a>
        </div>
    </section>
</div>