<div ng-controller="TransactionController" class="table-responsive">
    <h2> Transactions </h2>
    <section ng-show="model.data" class="hidden-xs">

        <h3> Search Results</h3>
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Description</th>
                <th>Date of Transaction</th>
                <th>Type of Transaction</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in model.data">
                <td><a href="#/details/{{transaction.id}}">{{transaction.description}}</a></td>
                <td>
                    {{transaction.normalizedDate}}
                </td>
                <td>{{transaction.type}}</td>
                <td>{{transaction.amount}}</td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center">
            <a href="#/addtransaction" class="btn btn-primary"> Add a transaction</a>
        </div>
    </section>
    <div class="embossed-box visible-xs" ng-show="model.data" ng-repeat="transaction in model.data">
        <h4 ng-show="transaction.description"><a href="#/details/{{transaction.id}}"><b>Description :  {{transaction.description}}</b></a></h4>
        <h4 ng-show="transaction.normalizedDate">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{transaction.normalizedDate}}</h4>
        <h4 ng-show="transaction.type">Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{transaction.type}}</h4>
        <h4 ng-show="transaction.amount">Amount  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{transaction.amount}}</h4>
        <a href="#/addtransaction" class="btn btn-primary"> Add a transaction</a>
    </div>
</div>